Minesweeper/Minesweeper/Structure/Structure.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="archive">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="records" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="record" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="level">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Primary"/>
													<xs:enumeration value="Intermediate"/>
													<xs:enumeration value="Advanced"/>
													<xs:enumeration value="Custom"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="game">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="rounds">
														<xs:simpleType>
															<xs:restriction base="xs:int">
																<xs:pattern value="^(0|([1-9][0-9]*))$"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="won">
														<xs:simpleType>
															<xs:restriction base="xs:int">
																<xs:pattern value="^(0|([1-9][0-9]*))$"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="winningstreak">
														<xs:simpleType>
															<xs:restriction base="xs:int">
																<xs:pattern value="^(0|([1-9][0-9]*))$"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="losingstreak">
														<xs:simpleType>
															<xs:restriction base="xs:int">
																<xs:pattern value="^(0|([1-9][0-9]*))$"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="histories" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="history" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="index">
																				<xs:simpleType>
																					<xs:restriction base="xs:int">
																						<xs:pattern value="^(0|([1-9][0-9]*))$"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="timecost">
																				<xs:simpleType>
																					<xs:restriction base="xs:double">
																						<xs:pattern value="^(0|([1-9][0-9]*))(\.[\d]+)?$"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="datetime" type="xs:dateTime"/>
																			<xs:element name="minescount">
																				<xs:simpleType>
																					<xs:restriction base="xs:int">
																						<xs:pattern value="^(0|([1-9][0-9]*))$"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="rows">
																				<xs:simpleType>
																					<xs:restriction base="xs:int">
																						<xs:pattern value="^(0|([1-9][0-9]*))$"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="cols">
																				<xs:simpleType>
																					<xs:restriction base="xs:int">
																						<xs:pattern value="^(0|([1-9][0-9]*))$"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="pin">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="^([0-9A-Za-z])*$"/>
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="player" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>